
<div class="pageOne" *ngIf="page == 1 ">
    <div class="galleryOne">
        <img src="../../../../../assets/img/personagem1.png" class="PersonagemElipse" id="div1">
        <img src="../../../../../assets/img/Elipse 591.png" class="Elipse" alt="">
    </div>
</div>

<div class="pageOne" *ngIf="page == 2 ">
    <div class="galleryOne">
        <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
        <img src="../../../../../assets/img/Forma 600_2.png" class="humanaformaPageOne"alt="">
    </div></div>
    
<div class="pageOne" *ngIf="page == 3">
        <img src="../../../../../assets/img/business-people-office.png" class="humanaPageOne"alt="">
</div>
<div class="pageTwo" *ngIf="page == 4">
        <img src="../../../../../assets/img/mulhernotelefone.png" class ="humanaPageOne" alt="">
 </div>
 <div class="pageThree" *ngIf="page == 5">
        <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageThree" *ngIf="page == 6">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageThree" *ngIf="page == 7">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageThree" *ngIf="page == 8">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageThree" *ngIf="page == 9">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageThree" *ngIf="page == 10">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>




