
<div class="pageOne" *ngIf="page == -1 ">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
    </div>
<div class="pageOne" *ngIf="page == 0 ">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
    </div>
<div class="pageOne" *ngIf="page == 1">
<img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageTwo" *ngIf="page == 2">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
 </div>
 <div class="pageThree" *ngIf="page == 3">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>






<!-- </div>
<div class="pageFour">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageFive">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageSix">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageSeven">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageEight">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageNine">
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
<div class="pageTen" >
    <img src="../../../../../assets/img/humana.png" class="humanaPageOne"alt="">
</div>
 -->
