
<div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8"[@animImageSlider]="counter">
        <div class="sliders" >
            <div *ngFor="let img of images; let i = index">
                <div class="pageOne" *ngIf="i === counter">
                    <div class="galleryOne">
                        <img src="{{images[i]}}" class="photo">
                    </div>
                </div>
            </div>
      </div>
      </div>

      <div class="col-md-4 mt-5 btnav">
          <div class="buttons">
              <a class="slide-toggle" *ngIf="counter < 10" (click)="onNext()" @fadeAnimation direction="next">
                  <img src="../../../../assets/img/SetaEsquerda.png" style="transform: rotate(175deg);">
              </a>
        
              <a class="slide-toggle" *ngIf="counter > 0" @fadeAnimation (click)="onPrevious()">
                  <img src="../../../../assets/img/SetaEsquerda.png" class="setadireita"></a>
              <div class="lineBtns"></div>
              <div class="CurrentPage">
                  {{counter}} | <span class="max">10</span><br /><br />
              </div>
      </div>
    </div>
  </div>
</div>

