.pageOne{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
  }
  
  .slide-toggle-container {
    width: 25%;
    height: 100%;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .slide-toggle {
    font-size: 1.5em;
    margin: 1em;
    cursor: pointer;
    user-select: none;
  }
  
  .buttons{
    display: flex;
    border-radius: 10px;
    width: 50%;
    background-color: #3ea110cc;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }
  
  .slide-toggle {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .slide-toggle:hover, .slide-toggle:focus, .slide-toggle:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  
  .slide-toggle:last-child{
    border-bottom: 5px;
  }
  
  .lineBtns{
    border-bottom: 3px solid white;
  
  }
  
  .CurrentPage{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    
  }
  
  .buttons:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  @media only screen and (max-width: 992px) {
    .photo{
        height: 350px !important;
        width: 680px !important;
        border: 10px solid #3ea110cc;
    }
    .btnav{
        display: grid;
        & > *{margin: auto;}
    }
    .slide-container{
        position: relative;
        height: 0%;
    }
    .buttons{
        width: 50%;
    }
  }
  
img{
    max-width: 100%;
    height: auto;
}
.photo{
    border: 5px solid #3ea110cc;
    border-radius: 12px;
    height: 800px;
    width: 1200px;
}

